services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro  # Add D-Bus for Bluetooth
    restart: unless-stopped
    network_mode: host
    privileged: true
    logging:
      driver: "local"